<h1><%= t '.my_page' %></h1>
<ul>
  <li><%= t 'activerecord.attributes.user.name' %>：<%= @user.name %></li>
  <li><%= t 'activerecord.attributes.user.email' %>：<%= @user.email %></li>
  <li>住所：
    <%= @user.postal_code %>
    <%= @user.prefecture_code %>
    <%= @user.city %>
    <%= @user.street %>
    <%= @user.other_address %>
  </li>
  <li><%= t 'activerecord.attributes.user.profile' %>：<%= @user.profile %></li>
</ul>
<%= link_to t('.change_registration_my_page'), edit_user_registration_path %>
    